<div class="row">
  <div class="span2">
  	<p></p>
  </div>
  <div class="span8">
  	<h2 class="page-header">Mission</h2>
  	<p>
  		Our company is designed to deliver our commitments with integrity and determination to provide our mass clientele with life – long investments.
		<br />
		<br />
		The mission of ishack properties is to be the most successful real estate firm in Kenya.
		<br />
		<br />
		Ishack properties incorporates proven, professional state of the art techniques specializing in the marketing, selling of new resale luxury homes, residential communities, home sites, undeveloped land and commercial  and investment opportunities.
		<br />
		<br />
		Ishack maintains well trained real estate professionals who continually strive to provide top quality service for their individuals’ clients and customers.
		<br />
		<br />
		The best interest of our clients will always come first and will place the clients’ concerns ahead of our own in each and every transaction, as we dedicate to the development of long –term client relationships.
		<br />
		<br />
		Ishack properties will not bend the truth to make a sale. Our mission is also to make the buying and selling of real estate as cost effective as possible while maintaining the highest of service.
		<br />
		<br />
		We will also work with every single customer as hard as we can to help them achieve their dreams. We will provide accurate and upto date information, skilled analysis and sound real estate advice.
		<br />
		<br />
		We will continually explore new ideas and technology, to make the selling and buying of real estate faster, less costly and easier.
  		<br />
		<br />
  	</p>
  	
  	<h2 class="page-header">Vision</h2>
  	<ul>
  		<li>
  			With our core values as the guiding light Ishack properties aspires to become the most successful and respected real estate company in Kenya and in the Diaspora.
  		</li>
  		<li>
  			To achieve sustainable growth, we have established a vision with clear goals.
  		</li>
  		<li>
  			Profit : maximising returns to share owners while being mindful of our overall responsibilities.
  		</li>
  		<li>
  			Portfolio: bringing to the world a portfolio of properties that anticipate and satisfy desires and needs.
  		</li>
  	</ul>
  	
  	<br />
  	<br />
  	<h2 class="page-header">Objectives</h2>
  	<ol>
  		<li>
  			To promote profitability and sustainable business activity that meets the customer needs.
  		</li>
  		<li>
  			To increase the company’s market share.
  		</li>
  		<li>
  			To gain the competitive edge
  		</li>
  		<li>
  			To increase the company’s role in relations to social responsibility
  		</li>
  		<li>
  			To provide excellent customer service
  		</li>
  		<li>
  			To get customer’s trust and support so the company needs to be honest and morally right.
  		</li>
  		<li>
  			To ensure quality of service is at it best.
  		</li>
  	</ol>
  </div>
  <div class="span2">
  </div>
</div>
