  <div class="span8 center">
  	<h2 class="page-header">Available Property</h2>
  	<br />
  	<br />
	 <table class="table table-striped table-bordered">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Unit Price</th>
	      <th>Available</th>
	      <th>Location</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<tr>
	      <td>Ruiru 1/8</td>
	      <td>From KSH 1.5 m per 1/8</td>
	      <td>10</td>
	      <td>Ruiru</td>
	    </tr>
	    <tr>
	      <td>Kipeto 1/8</td>
	      <td>From KSH 300k per 1/8</td>
	      <td>1</td>
	      <td>Kipeto</td>
	    </tr>
	    <tr>
	      <td>Juja athi 1/8</td>
	      <td>From KSH 270k per 1/8</td>
	      <td>24</td>
	      <td>Juja</td>
	    </tr>
	    <tr>
	      <td>Juja mung'etho 1/8</td>
	      <td>From KSH 270k per 1/8</td>
	      <td>16</td>
	      <td>Juja</td>
	    </tr>
	    <tr>
	      <td>Juja veritas</td>
	      <td>From KSH 500k per 1/8</td>
	      <td>24</td>
	      <td>Juja</td>
	    </tr>
	    <tr>
	      <td>Kisaju</td>
	      <td>From KSH 500k per 1/8</td>
	      <td>5</td>
	      <td>Kisejo</td>
	    </tr>
	    
	  	<% @properties.each do |property| -%>
		    <tr>
		      <td><%= property.name %></td>
		      <td><%= property.price %></td>
		      <td><%= property.quantity %></td>
		      <td><%= property.location %></td>
		    </tr>
	    <% end %>
	  </tbody>
	</table>
  </div>