  <div class="span8 center">
  	<h2 class="page-header">Available Property</h2>
  	<br />
  	<br />
	 <table class="table table-striped table-bordered">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Unit Price</th>
	      <th>Available</th>
	      <th>Location</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @properties.each do |property| -%>
		    <tr>
		      <td><%= property.name %></td>
		      <td><%= property.price %></td>
		      <td><%= property.quantity %></td>
		      <td><%= property.location %></td>
		    </tr>
	    <% end %>
	  </tbody>
	</table>
  </div>