<div class="row">
  <div class="span2">
  	<p></p>
  </div>
  <div class="span8">
  	<h2 class="page-header">Contact Us</h2>
  	<h6>You can reach us on the following numbers:</h6>
  	<br />
  	<br />
  	<p>+254728276362</p>
  	<br />
  	<br />
  	<p>+254724958785</p>
  	<br />
  	<br />
  	<p>+254722789738</p>
  	<br />
  	
  	<h6>You can also reach us via email:</h6>
  	<p>charles@ishackproperties.com</p>
  	<br />
  	<br />
  	<p>ireneg@ishackproperties.com</p>
  	<br />
  	<br />
  	<p>info@ishackproperties.com</p>
  	
  	
  	
  </div>
  <div class="span2">
  	<p></p>
  </div>
</div>
