<h1 class="page-header scream-header">Home</h1>
<div class="row cont-fix">
	<ul class="thumbnails">
	  <li class="span3">
	    <div class="thumbnail">
	     	<%= image_tag('rceo.jpg')%>
	      <h3>Mr. Charles W. Kanyuira </h3>
	      <p>IshackProperties C.E.O</p>
	    </div>
	  </li>
	  <li class="span3">
      	<div class="thumbnail">
      		<h2>Find Properties here</h2>
	     	<%= image_tag('house4.jpg')%>
	      <h3>We have properties</h3>
	      <p>Find your dream properties here</p>
	    </div>
	  </li>
	  <li class="span3">
      	<div class="thumbnail">
      		<h2>Get more variety here</h2>
	     	<%= image_tag('house1.jpg')%>
	      <h3>We have all property types</h3>
	      <p>Look no further,we got it</p>
	    </div>
	  </li>
	</ul>
</div>

<div class="row">
  <div class="span6">
 	<p>
 		Ishack Properties points to management, she helps in operation, control, and oversight of real estate and land. Ishack properties indicate a need to be cared for, monitored and accountability given for its useful life and condition. This is much akin to the role of management in any business.
		Ishack Properties is also the management of personal property, equipment, tooling and physical capital assets that are acquired and used to build, repair and maintain end item deliverables. Ishack Properties involves the processes, systems and manpower required to manage the life cycle of all acquired property as defined above including acquisition, control, accountability, responsibility,maintenance, utilization and disposition. 
 		<br />
 		<br />
 		We all have excuses…
		Excuses for why your money is laying low
		Excuses that there is no capital to do what you’ve missioned
		The theme is simple, you vision it
		You can have it
		We at ishackproperties.com
		Will turn your distance vision into reality
		Land can do more than a bank can do
		No banks will double your money
		No bank will guarantee a non-inflated return
		Land will!!
		<br />
		<br />
		Soil is a blessed commodity
		Our fore fathers died fighting for it
		Our grandmothers were tortured for it
		So let it work for you
		And not against you
		It could be green housing
		Could be real estate
		Could be ‘let the cash lay there till I figure out…” but by then your cash will be more than you bargained
		Looks like it all comes back to it- land!!
		
		At Ishack Properties you will find that and more…
 	</p>
  </div>
  <div class="span2">
  	<p>facebook like button</p>
  </div>
</div>