<div class="row">
  <div class="span2">
  	<p></p>
  </div>
  <div class="span8">
 	<%= form_for @property, :html => { :multipart => true }, :url => properties_path, :html => { :class => :form } do |f| -%>
	  <%= render :partial => "form", :locals => {:f => f} %>
	<% end -%>
  </div>
  <div class="span2">
  	<p></p>
  </div>
</div>
