// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;
$grayDarker: #222;

.custom_btn {
  padding:5px;
  background-color: #dcdcdc;
  border: 1px solid #666;
  color:#9400D3;
  text-decoration:none;
}


/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: #999;
  a {
    color: $grayDarker;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

body {
  padding-top: 20px;
  padding-bottom: 60px;
  background-image: url('1.jpg');
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 80px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 50px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 18px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
  padding: 0;
}
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

.input {
    .text_field{
      width: 60%;
    }
    .text_area{
      width: 60%;
    }     
    .number_field{
      max-width: 60%;
    }
} 

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

// Stupid hacks
.cont-fix {
  margin: 0 auto;
  //margin-left: 6%;
}

//More stupid hack
#cont-back{
  margin: 0 auto;
  //background-color: black;
  background:rgb(255,255,255);
  background:rgba(255,255,255, 0.85);
}

.white-background{
  //margin: 0 auto;
  //background-color: black;
  background:rgb(255,255,255);
  
  background:rgba(255,255,255, 1);
}

.page-header{
  color:#0044cc;
}

h1 {
  color:#0044cc;
}

h2 {
  color:#0044cc;
}

h3 {
  color:#0044cc;
}

h4 {
  color:#0044cc;
}

h5 {
  color:#0044cc;
}

h6 {
  color:#0044cc;
}

.label{
 background:#0088cc;
}

.scream-header{
  color:#FF0000;
}

