<footer class="footer">
    <small>
    	<p>&copy; IshackProperties 2013</p>
    	
	</small>
	<nav>
		<ul>
			<li>
				<p>
					Designed by
					<a href="https://www.facebook.com/gkitili">Gideon Kitili</a href="#"> And  <a> Eve Gitonga</a> 
				</p>
			</li>
			
		</ul>
	</nav>
</footer>